body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: black;
  color: #fff;
  padding: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  background-color: black;
  /* background-image: url('../img/newspaperbackground.jpg'); */
  max-width: 480px;
}

nav {
  background-color: white;
  display: flex;
  justify-content: space-around;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  flex-grow: 1;
  text-align: center;
}

nav a {
  color: #333;
  display: block;
  padding: 10px;
  text-decoration: none;
}

main {
  padding: 10px;
  
}

section {
  background-color: white;
  padding: 10px;
  
}

footer {
  padding-left: 30px;
}

#kruispuzzel {
  background-color: red;
  background-image: url('../img/kruispuzzel.png'); 
  background-repeat: no-repeat;
  width: 220px;
  height: 185px;
  margin-left: 15%;
  margin-right: 5%;
  margin-top:10px;

}

#h2text{
  opacity: 0.0;
}

#ptext{
  opacity: 0.0;
}
#logo{
  height: 100px;
}
.juistetekst{
  color:white;
}