body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: black;
  color: #fff;
  padding: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  background-color: black;
  /* background-image: url('../img/newspaperbackground.jpg'); */
  max-width: 480px;
}

nav {
  background-color: white;
  display: flex;
  justify-content: space-around;
  border-radius: 10px;
  margin-left: 5px;
  margin-right: 5px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  flex-grow: 1;
  text-align: center;
}

nav a {
  color: #333;
  display: block;
  padding: 10px;
  text-decoration: none;
}

main {
  padding: 10px;

}

section {
  background-color: white;
  padding: 10px;

}

footer {
  padding-left: 30px;
  color: #333;

}

#kruispuzzel {
  background-color: red;
  background-image: url('../img/kruispuzzel.png');
  background-repeat: no-repeat;
  width: 220px;
  height: 185px;
  margin-left: 15%;
  margin-right: 5%;
  margin-top: 10px;

}

#h2text {
  opacity: 0.0;
}

#ptext {
  opacity: 0.0;
}

#logo {
  height: 100px;
}

.juistetekst {
  color: white;
}

.contentblok {
  background-color: white;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 75px;
  padding: 3px;
  border-radius: 5px;
  width: 225px;

}

#editedtext {
  text-decoration: underline;
}

.footer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  position:absolute;
  margin-top: auto;
}
.foutpage{
  color:white
}
.landingpage{
  color:white;
}
.donotcross{
  color:plum;
}
#lijn{
  max-width: 480px;
}
.logoklaar{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.klaartext{
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center; 
}
#specific{
  text-decoration: underline;
}
.klaartext2{
  display:flex;
  text-align: center;
  color: aliceblue;
}
.klaarpage{
  display: flex;
  flex-direction: column;
}
